handlebars:
  cache: false
  expose-session-attributes: true
  suffix: .html

spring:
  application:
    name: qna
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:~/my/h2/java-qna;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      validation-timeout: 1000
      maximum-pool-size: 40
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop

logging:
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE