{{#partial "contents"}}
<div class="container" id="main">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            {{#user}}
            <div class="panel-heading"><h4>Profiles</h4></div>
            <div class="panel-body">
                <div class="well well-sm">
                    <div class="media">
                        <div class="row">
                            <div class="col-sm-2">
                                <img class="img-circle" src="http://localhost:8080/images/80-text.png" alt="profile"
                                     style="width:80%; height:auto;">
                            </div>
                            <div class="media-body col-sm-10">
                                <h5 class="media-heading">ID</h5>
                                <p>{{userId}}</p>
                                <h5 class="media-heading">Name</h5>
                                <p>{{name}}</p>

                                <p class="btn btn-xs btn-default">{{email}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/user}}
        </div>
    </div>
</div>
{{/partial}}

{{> base }}