{{#partial "contents"}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            <ul class="list">
                {{# questions.contents }}
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="/questions/{{id}}">{{title}}</a>
                            </strong>
                            <div class="auth-info">
                                <span class="time">{{formattedCreateDate}}</span>
                                <a href="/users/{{writer.id}}" class="author">{{writer.name}}</a>
                            </div>
                        </div>
                    </div>
                </li>
                {{/ questions.contents }}
            </ul>
            <div class="row">
                {{# questions }}
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination center-block" style="display:inline-block;">

                        {{# hasPrev }}
                        <li><a href="{{questions.prevLink.href}}">«</a></li>
                        {{/ hasPrev }}

                        {{# pages.pageInfos }}
                        <li><a href="{{href}}">{{ pageNumber }}</a></li>
                        {{/ pages.pageInfos }}

                        {{# hasNext }}
                        <li><a href="{{questions.nextLink.href}}">»</a></li>
                        {{/ hasNext }}

                    </ul>
                </div>
                {{/ questions }}

                {{# loginedUser }}
                <div class="col-md-3 qna-write">
                    <a href="/questions/form" class="btn btn-primary pull-right" role="button">질문하기</a>
                </div>
                {{/ loginedUser }}
            </div>
        </div>
    </div>
</div>
{{/partial}}

{{> base }}